.auth-form-container {                                                               
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form-container h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #043468;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link-btn {
    background: none;
    border: none;
    color: #04274c;
    text-decoration: underline;
    cursor: pointer;
}

